.data-consent-box {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 431px;
    width: 100%;
    background-color: var(--superskrypt-color--contrast-inversed);
    padding: var(--padding-box);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--vertical-spacing-box);
    color: var(--superskrypt-color--contrast);
    z-index: 80;

    &__heading {
        @include text-card-title;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--vertical-spacing-box);
        @include text-caption;

        @include media-mobile {
            @include wcag-aaa-column-width;
        }
    }
    .privacy-policy-link {
        @include button-link;
    }

    .data-consent-box__buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: var(--horizontal-spacing-tiny);
        flex-wrap: wrap;
    }
}
/* CONSENTS EDITOR ON PRIVACY POLICY PAGE */ 
.cookies-settings-box {
    .save-settings-button {
        margin-top: global-unit(1);
        @include button-link;
    }
    .cookies-categories-form {
        .input-group {
            width: fit-content;
            margin-bottom: 0.2em;
            &:last-of-type {
                
            }
        }
        .cookies-category {
            &,
            &__label {
                cursor: pointer;
            }
        }
    }
}
